<%- include('includes/header')%>
  <!-- header ends here -->

  <div class="container py-md-5 container--narrow">
    <%if(posts.length){%>
      <h2>Feed</h2>
     <div class="list-group">
   <%posts.forEach(x=>{%>
        <a href="/post/<%=x._id%>" class="list-group-item list-group-item-action">
             <img class="avatar-tiny" src="https://gravatar.com/avatar/b9216295c1e3931655bae6574ac0e4c2?s=128"> <%=x.title%> <spanclass="text-muted small mb-4">by <a href="/profile/<%=x.author.username%>"><%=x.author.username%></a> on<%= x.createdData.getMonth()+1%>/<%=x.createdData.getDate()%>/<%=x.createdData.getFullYear()%>
           </a>
           </span> 
  <% })%>
    </div>
   <% }else{%>
    <div class="text-center">
      <h2>Hello <strong><%=user.username%></strong>, your feed is empty.</h2>
      <p class="lead text-muted">Your feed displays the latest posts from the people you follow. If you don&rsquo;t have any friends to follow that&rsquo;s okay; you can use the &ldquo;Search&rdquo; feature in the top menu bar to find content written by people with similar interests and then follow them.</p>
    </div>  
   <% }%>
  </div>
  
  <!-- footer begins -->
<%- include('includes/footer')%>